body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 44vh;
    width: 22vw;
    margin-right: 33vh;
}
input{
    height: 22vh;
    width: 44vw;
    font-size: 2rem;
}
textarea{
    height: 22vh;
    width: 44vw;
    font-size: 2rem;
}
button{
    width: 12vh;
    height: 4vw;
    font-size: 2rem;
    color: blue;
    margin-left: 20vw;
}
h1{
    color: red;
    font-size: 2rem;
    text-align: center;
}