body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.container{
    height: 50%;
    width: 50%;
}

textarea{
    height: 22vh;
    width: 44vw;
    font-size: 2rem;
}

h1{
    color: red;
    font-size: 2rem;
    text-align: center;
    width: auto;
}
.Input , .Output{
    background-color: olive;
    height: 16vh;
    width: 44.3vw;
    text-align: center;
    font-size: 3rem;
}
@media only screen and (max-width: 500px) {
    .Input, .Output{
        font-size: 2rem;
        width: 70vw;
    }
    textarea{
        width: 70vw;
    }
}