body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 44vh;
    width: 22vw;
    margin-right: 33vh;
}
input{
    height: 22vh;
    width: 44vw;
    font-size: 2rem;
}
textarea{
    height: 22vh;
    width: 44vw;
    font-size: 2rem;
}

h1{
    color: red;
    font-size: 2rem;
    text-align: center;
}
.Input , .Output{
    background-color: olive;
    height: 16vh;
    width: 44.5vw;
    text-align: center;
    font-size: 3rem;
}